.purple-background {
    background-color: #6750fd;
}

.top-section {
    padding: 0px 15vw;
    overflow: hidden;
}

.navbar-items {
    place-content: end;
}

.nav-link {
    text-align: center;
}

.phone-picture-container {
    text-align: center;
}

.phone-picture {
    transform: rotate(25deg);
    width: 300px;
}

.header-information {
    margin-top: 100px !important;
    height: 400px;
}

.title-text{
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

.playstore-button {
    margin-left: 20px
}



@media screen and (max-width: 768px) {
    .top-section {
        height: 100vh;
        text-align: center;
    }

    .header-information {
        margin-top: 25px !important;
    }

    .phone-picture {
        transform: none;
        width: 250px;
    }

    .phone-picture-container {
        margin-top: 50px;
    }
}